header.main-header
    img(src="images/logo.png", alt="logo").logo
    h1.logo-title Awesome
        span Jobs
    ul.categories
        li
            a(href="#").categories__link.categories__link--active All
        li
            a(href="#").categories__link Freelance
        li
            a(href="#").categories__link Contract
        li
            a(href="#").categories__link Full-time
        li
            a(href="#").categories__link Part-time