.jobs
    a(href="#").job
        img(src="images/twitter.jpg", alt="twitter").job__picture
        .job__info
            h2.job__title UX Designer
            ul.job__descr
                li Twitter
                li.decor San Francisco
                li Jan 1st
        .job__category.job__category--full-time full-time
    a(href="#").job
        img(src="images/twitter.jpg", alt="twitter").job__picture
        .job__info
            h2.job__title Full-stack Developer
            ul.job__descr
                li Twitter
                li.decor San Francisco
                li Jan 1st
        .job__category.job__category--part-time part-time
    a(href="#").job
        img(src="images/twitter.jpg", alt="twitter").job__picture
        .job__info
            h2.job__title Back-end Developer
            ul.job__descr
                li Twitter
                li.decor San Francisco
                li Jan 1st
        .job__category.job__category--contract Contract
    .date Jan 1st
    a(href="#").job
        img(src="images/twitter.jpg", alt="twitter").job__picture
        .job__info
            h2.job__title Full-stack Developer
            ul.job__descr
                li Twitter
                li.decor San Francisco
                li Jan 1st
        .job__category.job__category--part-time part-time
    a(href="#").job
        img(src="images/twitter.jpg", alt="twitter").job__picture
        .job__info
            h2.job__title Back-end Developer
            ul.job__descr
                li Twitter
                li.decor San Francisco
                li Jan 1st
        .job__category.job__category--contract Contract
    .date May 30st